body{
    height:100vh;
    background-image:url(picture-1247354.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

ul{
    color: white;
    text-shadow: 2px 2px 4px black;
     background: rgba(255,255,255,0.08);           
    border: 1px solid rgba(255,255,255,0.18);    
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);  
    backdrop-filter: blur(8px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    border-radius:20px;
    width:200px;
    height:200px;
    text-align: left;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 17px;

    box-shadow: 3px 3px 7px black;
}

.listlagu{
    margin-left: 20%px;
    
}

.tombol button[name="tombolig"]{
    width:90px;
    height:90px;
    background-image: url(igicon.jpg);
    background-size:100px;
    background-position: center;
    border-radius:20px;
    margin-left:0%;
    position:absolute;
    top:150px;
}
.tombol{
    
    width:350px;
    height:200px;
    position:absolute;
    margin-left: 60%;
    top:0px;
}

.ig h1{
    color:white;
    text-shadow:2px 2px 4px black;
    position:absolute;
    margin-top:70px;
    margin-left:30%

}

.ig h2{
    color:white;
    text-shadow:2px 2px 4px black;
    margin-top:109px;
    position:absolute;
    font-size: 20px;
    margin-left:30%
}

.tombol button[name="tomboltt"]{
       width:90px;
    height:90px;
    background-image: url(icontiktok.png);
    background-size:100px;
    background-position: center;
    border-radius:20px;
    margin-left:0%;
    position:absolute;
    top:250px;
}

.tiktok h1{
    color:white;
    text-shadow:2px 2px 4px black;
    position:absolute;
    margin-top:180px;
    margin-left:30%;
}

.tiktok h2{
    color:white;
    text-shadow:2px 2px 4px black;
    position:absolute;
    margin-top:215px;
    margin-left:30%;

}

h1{
    color:white;
    text-shadow:2px 2px 4px black;
    font-size:30px

}

